body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Raleway",sans-serif;
    color: #fff;
}
.banner{
    height: 100vh;
    width: 100%;
    background: url(" overlay.png"), url("back.jpg");
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

.banner .navbar{
    margin-top: 2%;
}
.banner .navbar .navbar-brand{
    color: #fff;

}
.banner .nav{
    margin-right: 5%;
}

.banner .nav li a{
    color: aquamarine;
    margin: 10px 10px;
}
#main-nav .navbar-nav .nav-item a{
    margin: 10px;
    color: aqua;
    padding: 10px;
    border: 1px solid lightpink;
    text-align: center;
}

.banner .info{
    margin-top: 10%;
    transform: translateY(-10%);
}
.banner .info h1{
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;

}

.banner .info p{
    font-size: 2.em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2px;
    
}

.banner .info a{
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #e91d43;
    padding: 14px 20px;
    font-size: 2.2em;
    font-weight: 600;
}
.banner .info a:hover{
    background: #e91e63;
}